
<main class="login-form">
  <h1><%= title %></h1>

<% if (Array.isArray(errors) && errors.length > 0) { %>
  <ul>
    <% errors.forEach(error => { %>
      <li><%= error.msg %></li>
    <% }) %>
  </ul>
<% } %>

  <form id="login-form" action="/account/login" method="post">
    <fieldset>
    <label for="email">Email Address:</label>
    <input type="email" name="account_email" id="email" required />

    <label for="password">Password:</label>
    <input
      type="password"
      name="account_password"
      id="password"
      required
      pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"
    />

    <div id="pswdBtn">Show Password</div>

    <button type="submit">Submit</button>
    </fieldset>
  </form>

  <p>No account? <a href="/account/register">Sign-up</a></p>
  <script src="/js/password.js"></script>
</main>


